@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Oxanium:wght@300;400;500;600;700;800&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oxanium', 'cursive';
}

body{
    text-align: center;
    background: linear-gradient(to bottom, #67b4f3 , #fff);
    min-height: 100vh;
 }

main {
    display: inline-block;
    margin-top: 5%;
    padding: 15px;
    position: relative; 
}

 .pokedex{
    width: 100%;
    max-width: 600px;  
    border-radius: 3%;
 }

.pokemon_imagem{
    position: absolute;
    bottom: 30%;
    left: 18%;
    transform: translate(-20%, 0%);
    height: 35%;
}

.pokemon_data{
    position: absolute;
    font-weight: 600;
    color: rgba(0, 0, 0, 0.74);
    top: 30%;
    right: 10%;
    font-size: clamp(5px, 4vw, 26px);
}

.pokemon_name{
    text-transform: capitalize;
}

.form{
    position: absolute;
    width: 20%;
    top: 87.6%;
    left: 6%;
}

.input_search{
    position: absolute;
    width: 100%;
    padding: 0%;
    outline: none;
    border: 2px solid #334;
    border-radius: 4px;
    font-weight: 600;
    color:#3a444d;
    font-size: clamp(1px, 2.3vw, 14px);
}

.buttons {
    position: absolute;
    bottom: 10.5%;
    left: 48%;
    width: 65.3%;
    transform: translate(-52%, -100%);
    gap: 3px;
    display: flex;
}

.prev {
    width:15%;
    border-radius: 5px;
    border: 2px solid #334;
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222;
    font-size: clamp(1px, 2.6vw, 15px);
}

.next {
    width:15%;
    border-radius: 5px;
    border: 2px solid #334;
    font-weight: 600;
    color: white;
    background-color: #444;
    box-shadow: -2px 3px 0 #222;
    font-size: clamp(1px, 2.6vw, 15px);
}

.next:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.7rem;
}

.prev:active {
    box-shadow: inset -4px 4px 0 #222;
    font-size: 0.7rem;
}